<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

   <!-- Bootstrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="navbar.css">
	<link rel="stylesheet" href="sidebar.css">
	<link rel="stylesheet" href="misc.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body ng-app="CRUDApp">
   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GDI</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	
	<div id ="form">
			<div class="container">
			<div class="row">
				
			<div id="wrapper">
					<!-- Sidebar -->
					<div id="sidebar-wrapper">
						<ul class="sidebar-nav">
							<li class="sidebar-brand">
								<a href="#">
									Start Bootstrap
								</a>
							</li>
							<li>
								<a href="#">Dashboard</a>
							</li>
							<li>
								<a href="#">Adicionar Questão</a>
							</li>
							<li>
								<a href="#">Remover Questão</a>
							</li>
							<li>
								<a href="#">Modificar Questão</a>
							</li>
						</ul>
					</div>
					<!-- /#sidebar-wrapper -->
				</div>
				<!-- /#wrapper -->
			
			
				<form role="form" ng-controller="CRUDController">
					<div class="col-lg-6">
						<div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Campos Obrigatórios</strong></div>
						<div class="form-group">
							<label for="InputName">Nome da Questão</label>
							<div class="input-group">
								<input ng-model="title" type="text" class="form-control" name="InputName" id="InputName" placeholder="Nome da Questão" required>
								<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
							</div>
						</div>
						<div class="form-group">
							<label for="InputMessage">Enunciado da Questão</label>
							<div class="input-group">
								<textarea ng-model="wtf" name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
								<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
							</div>
						</div>
						
						<div class="form-group">
							<label for="InputMessage">Código da Questão</label>
							<div class="input-group">
								<textarea ng-model="code" name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
								<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
							</div>
						</div>
						
						<input ng-click="addQuestion()" type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
					</div>
				</form>
				<!--<div class="col-lg-5 col-md-push-1">
					<div class="col-md-12">
						<div class="alert alert-success">
							<strong><span class="glyphicon glyphicon-ok"></span> Success! Message sent.</strong>
						</div>
						<div class="alert alert-danger">
							<span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	
	

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="CRUD.js"></script>
	<script src="js/bootstrap.min.js"></script>
  </body>
</html>